:root {
    --gris: #92989B;
    --rosa: #D73996;
    --verde: #00BCA3;
    --amarillo: #FFF063;
    --verdeLight: #22DED2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.title1 {
    font-family: Futura Std;
    font-size: 36px;
}

.title2 {
    font-family: Futura Std;
    font-size: 24px;
}

p {
    font-family: Futura Std;
    line-height: 1.6;
    letter-spacing: 1px;
}

.about button {
    margin-top: 25px;
    margin-left: 0;
    background-color: #f9f9f9;
    color: black;
}

button {
    margin: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Futura Std;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: var(--verdeLight);
    color: black;
}

button:hover {
    background-color: var(--rosa);
    color: white;
}

.container {}

header {
    display: flex;
    height: 160px;
    align-items: center;
    font-family: Futura Std;
    font-size: 16px;
    color: var(--gris);
    background-color: white;
    flex-wrap: wrap;
}


.logos {
    display: flex;
    width: 35%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    flex-wrap: wrap;
}

.logos img {
    margin: 16px;
    height: 80px;
}

.opciones {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: 35px;
    flex-wrap: wrap;
    overflow: hidden;
}

.opciones>a {
    margin: 10px;
}

.opciones a:hover{
    color: var(--rosa);
}

#menu-option-btn:hover > a{
    color: var(--rosa);
}


.op-inicio, .op-premios {
    overflow: hidden;
}

.op-inicio #menu-option-btn, .op-premios #menu-option-btn{
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    color: var(--gris);
}


.inner-menu-options {
    display: none;
    position: absolute;
    background-color: var(--verde);
    color: white;
    min-width: 100px;
    box-shadow: 0px 4px 4px 0px #00000040;
    z-index: 1;
    margin-left: 8px;
}

.inner-menu-arrow{
    position: relative;
    top: -10px;
    left: 4px;
    width: 0; 
    height: 0px; 
    border-left: 5px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid var(--verde);
}

.inner-menu-options a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
}

.inner-menu-options a:hover {
    color: var(--rosa);
}

.op-inicio:hover .inner-menu-options, .op-premios:hover .inner-menu-options {
    display: block;
}

#menu-option-btn {
    margin: 10px;
    background-color: transparent;
    color: var(--gris);
}



.op-inscripcion {
    color: var(--verde)
}

.op-inscripcion:hover {
    color: var(--rosa);
}

.banderas>a:hover img {
    cursor: pointer;
    font-style: none;
    opacity: 0.6;
    border: 1px solid #7a1651;
    border-radius: 4px;
}

.idiomas {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 80px;
    top: 10px;
    font-size: 14px;
    align-items: flex-end;
    flex-wrap: wrap;
}

.banderas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.banderas img {
    width: 24px;
    opacity: 0.2;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 0;
    margin: 2px;
    align-items: center;
}

#espaniol {
    opacity: 1;
    border: 1px solid var(--rosa);
    border-radius: 4px;
}

.section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    flex-wrap: nowrap;
}


.section-title img {
    height: 40px;
    margin-right: 20px;
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 0;
}

.section-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 80px 0px 72px 0px;
    flex-wrap: wrap;
}

hr{
    border: none;
}

.title-line{
    width: 100px;
    height: 4px;
    border: 0;
    margin: 8px 0 40px 0;
}
footer {
    background-color: #325B6A;
    color: #f3f3f3;
    font-family: Futura Std;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    padding: 30px 40px 30px 40px;
    justify-content: center;
    height: 250px;
}

footer p {
    font-size: inherit;
    text-align: center;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.title5 {
    font-size: 14px;
    color: var(--verde);
    margin-top: 8px;
    margin-bottom: 8px;
}

.footer-top>img {
    height: 100px;
}

footer li {
    list-style: disc;
    display: list-item;
    margin: 8px;
}

.info-text{
    width: 100%;
    padding: 0 60px 0 60px;
    align-items: left;
}

.info-text p, .info-text ul >li, .info-text ol>li{
    margin-bottom: 24px;
    text-align: justify;
    text-justify: inter-word;
    font-weight: none;
    font-family: Futura Std;
}

.title4{
    color: var(--rosa);
    font-weight: bold;
    margin: 48px 0 10px 0;
    font-size: 18px;
}

a[href^="mailto:"]{
    color: rgb(0, 132, 255);
}

.large-button{
    border-radius: 10px;
    width: 300px;
}
/*
@media screen and (max-width: 500px){
    header{
        background-color: red;
        display: none;
    }
}
*/