.section-container{
    width: 100%;
    margin-top: 20px;
}

.programa{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.programa hr {
    background-color: #20C4AF;
    position: relative;
}

.programa-title img {
    height: 40px;
    margin-right: 20px;
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 0;
}

.programa-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.programa-title {
    align-items: center;
}

.programa-fechas {
    display: flex;
    flex-direction: row;
    font-family: Futura Std;
    flex-wrap: nowrap;
    justify-content: center;
}

.programa-fechas>div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
    font-size: 16px;
}

.programa-fechas > div {
    background-color: #F3F3F3;
    color: var(--rosa);
}

.fecha-1 {
    border-radius: 10px 0 0 10px;
}

.programa-fechas .fecha-main {
    background-color: var(--verde);
    color: white;
}

.fecha-4 {
    border-radius: 0 10px 10px 0;
}

.fecha-num {
    font-size: 24px;
}

.programa-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
    margin: 30px 0 30px 0;
}

#programa-divisor{
    position: relative;
    left: calc(50% + 1px);
    width: 4px;
    height: 100%;
    margin: 0 0 0 0;
    z-index: 1;
    background: linear-gradient(180deg, #00BBA3 0%, #00BBA3 83.85%, rgba(0, 187, 163, 0) 100%);

}

.evento-hora-main{
    font-family: 'Futura Std';
    font-style: normal;
    color: var(--rosa);
    font-size: 48px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 10px 0 10px 0;
    width: fit-content;
}

.programa-column-1 .evento-hora-main{
    align-self: flex-end;
    text-align: right;
}

.programa-container-columns{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px 0 20px;
}

.programa-column-1, .programa-column-2{
    position: relative;
    width: 50%;
    padding: 0 20px 0 20px;
    flex-wrap: wrap;
} 

.programa-column-1{
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.programa-column-2{
    left: 50%;top: 0;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.hora{
    display: flex;
    flex-direction: column;
}

.programa-column-1 .evento-circle{
    position: absolute;
    border-radius: 100%;
    background-color: var(--rosa);
    width: 24px;
    height: 24px;
    z-index: 2;
	left: calc(100% + 19px/2);
    top: -2px;
    margin: 0;
}

.programa-column-2 .evento-circle{
    position: absolute;
    border-radius: 100%;
    background-color: var(--rosa);
    width: 24px;
    height: 24px;
    z-index: 2;
	top: -2px;
	right: calc(100% + 12px/2);
    margin: 0;
}


.evento-container{
    margin: 10px 0 10px 0;
}
.evento-title{
    font-weight:bolder;
    font-family: Futura Std;
}

.event-hour{
    color: var(--verde);
    position: relative;
    font-family: Futura Std;
}
.evento-description{
    font-weight: lighter;
}
.evento{
    margin: 10px 0 10px 0;
}

.mini-eventos{
    font-size: 13px;
    color: #92989B;
}