*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sede{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.sede hr{
    background-color: #20c4af;
}

.sede img{
    width: 100%;
}