@font-face {
    src: url('fonts/Futura Std Book.otf');
    font-family: 'Futura Std';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.patrocinadores{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


.section-title img {
    height: 50px;
    margin: 0 20px 0 20px;
}

hr {
    width: 100px;
    height: 4px;
    border: 0;
    margin: 8px 0 40px 0;
}

.patrocinadores hr{
    background-color: #FFC227;
}

table{
    font-family: Futura Std;
    width: 70%;
    border-collapse: collapse;
}

td{
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
    font-weight: none;
    font-family: Futura Std;
    border-bottom: 1px solid rgb(141, 141, 141);
}

td  img{
    height: 120px;
}
th{
    padding: 20px;
    border-bottom: 1px solid rgb(141, 141, 141);
}

a{
    cursor: pointer;
}

.td-image{
    text-align: center;
}